/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.form {
	width: 50%;
margin: auto;
}
.form > * {
	text-align: center;

}
.form h2{
	margin-bottom: 20px;
}
.form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.form input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form label {
	margin: 2em 0 1em 0;
}
.form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn-primary {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 1.1em auto ;
	text-align: center;
	border-radius: 60px ;
	font-size: 1.2em;
	border: none;
	padding: 10px 20px;
}

.btn-disabled {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: grey;
	margin: 1.1em auto;
	text-align: center;
	border-radius: 60px;
	font-size: 1.2em;
	border: none;
	padding: 10px 50px;
}

#add-form {
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/**/
.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.filter__item {
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid;
	padding: 10px 20px;
	margin: 10px 10px;
}

.filter__item:hover {
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

.filter__item--selected {
	color: white;
	background-color: #1D6154;
}

.hidden {
	display: none !important;
}

.form a {
	text-align: center;
}

.field-error {
	color: red;
	margin-top: 10px;
}

.form-error {
	color: red;
	text-align: center;
	margin: 20px 0px;
}

.portfolio__header {
	display: flex;
	justify-content: center;
}

.edit-works {
	text-align: center;
	padding: 10px 10px;
	margin-left: 20px;
	text-decoration: none;
	color: inherit;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	overflow: auto;
	width: 600px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	text-align: center;
}

.js-close-modal {
	float: right;
	padding: 5px;
}

.js-previous {
	float: left;
	padding: 5px;
}

.js-close-modal:hover {
	cursor: pointer;
}

i {
	font-size: 20px;
}

#modal-title {
	margin: 30px 0px;
}

.btn-secondary {
	color: red;
	border: none;
	font-weight: 700;
	font-family: 'Syne';
	font-size: 1.2em;
	background-color: white;
}

.main-footer {
	display: flex;
	flex-direction: column;
}

.modal-body {
	width: 80%;
	margin: auto;
}

.div-works {
	display: flex;
	flex-wrap: wrap;
}

.modal-work {
	max-width: 100px;
	max-height: 150px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	position: relative;
}

.modal-work img {
	width: 100%;
}

.trash-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	background-color: black;
	padding: 5px;
}

.trash-icon:hover {
	cursor: pointer;
}

.modal hr {
	width: 80%;
	margin-top: 40px;
}

.container {
	width: 200px;
	margin: 50px auto;
	font-family: sans-serif;
}

.container label {
	display: block;
	max-width: 200px;
	margin: 0 auto 15px;
	text-align: center;
	word-wrap: break-word;
	color: #1a4756;
}

.container .hidden,
#uploadImg:not(.hidden)+label {
	display: none;
}

.container #file {
	display: none;
	margin: 0 auto;
}

.container #upload {
	display: block;
	padding: 10px 25px;
	border: 0;
	margin: 0 auto;
	font-size: 15px;
	letter-spacing: 0.05em;
	cursor: pointer;
	background: #216e69;
	color: #fff;
	outline: none;
	transition: .3s ease-in-out;
}

.container #upload:hover,
.container #upload:focus {
	background: #1AA39A;
}

.container #upload:active {
	background: #13D4C8;
	transition: .1s ease-in-out;
}

img {
	display: block;
	margin: 0 auto 15px;
}